body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#passContent {
    max-width: 80mm;
    margin: auto;
}

#passContent p {
    font-size: 16px;
}

#qrcode canvas {
    margin: auto;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printArea, #printArea * {
        visibility: visible;
    }
    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 80mm;
        height: 297mm;
    }
}
